$header-background:#900C3F;
$text-shadow:#c7c7c7;

@mixin best-movie{
    border:solid white;
    #best-movie{
        h2, button{
            position:relative;
            left:90px;
            top:140px;
        }
    }
}

@mixin movie{
    height:180px;
    width:250px;
    padding:0px 10px 0px 10px;
    margin:0px 5px 0px 5px;
    transition:width 0.8s, height 1s;
        &:hover{
            transform:scale(1.2);
        }
}
