@import "../utils/utils";

#best-movie{
    height:380px;
    padding:40px;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr;
    border:solid white 1px;
}

#best-movie-player{
    height: 70px;
    width:120px;
    background:white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight:bold;
    text-align: center;
    color:black;
    text-decoration: none;
    cursor:pointer;
        &:hover{
            background:$hover-header-links;
            }
}

.best-movie-picture{
    height:270px;
    display:block;
    margin:auto;
    vertical-align:middle;}

.movie-description{
     display:grid;
}

.prev, .next{
    display:block;
    margin:auto;
    color:white;
    font-weight:bold;
    font-size:70px;
    &:hover{
        cursor:pointer;
        transition:0.1s ease;
        transform:scale(1.8);}
    }

.movie{
    height:270px;
    transition:0.5s ease;
    display:block;
    margin:auto;
    vertical-align:middle;
    &:hover{
        cursor:pointer;
        transform:scale(1.2);}
}

#description{
word-wrap:break-word;
font-size:1.5em;}

p{
font-size:1.2em;}

.modal-picture{
float:left;
margin-right:20px;}
