#best-movie-player{
    height: 50px;
    width:100px;
    background:red;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-decoration: none;
}

.prev, .next{
    color:white;
    font-weight:bold;
    font-size:70px;
    &:hover{
        cursor:pointer;
        transition:0.1s ease;
        transform:scale(1.8);}
    }

.prev{
    padding-right:30px;
    }

.next{
    padding-left:30px;
    }

.movie{
    height:270px;
    transition:0.5s ease;
    padding-left:15px;
    padding-right:15px;
    &:hover{
        cursor:auto;
        transform:scale(1.12);}
}