@import "../utils/utils";

/* header */
header{
    height:70px;
    display:flex;
    align-items:baseline;
    background-color:$header-background;
    padding-bottom:20px;
    h1{
        font-size:2.2em;
        padding-left:20px;
    }
}

/* nav */
nav{
    margin-left:80px;
}

/* ul */
ul{
    font-size:1.2em ;
    list-style-type: none;
    display: flex;
    li{
        margin-right: 20px;
        a{
            font-size: 1.5em;
            color: white;
            padding-right: 30px;
            text-decoration: none;
            &:hover{
                color:$text-shadow;
            }
        }
    }
}

/* section */
section{
    height:300px;
    margin-top:20px;
    &:nth-child(2){
        @include best-movie
    }
    &:nth-child(n+3){
        h3{
            text-align:center;
            font-size:1.7em ;
            padding-top:5px;
        }
    }
}

/* carousel */
.carousel {
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

